# The WhatsApp number of the user who will receive the prompts/confirmations.
# It should include the country code and end with @s.whatsapp.net
# Example: 1234567890@s.whatsapp.net (1 is the country code, followed by the 10 digit number)
WHATSAPP_TARGET_NUMBER=1234567890@s.whatsapp.net
